@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

/* Style the accordion section */
.accordionSection {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgb(255, 255, 255);
  color: #1d1e18;
  cursor: pointer;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  /* background-color: #ccc; */
  background-color: #a083c4;
}

.accordion:active {
  /* background-color: #ccc; */
  background-color: white;
}
/* Style the accordion content title */
.accordionTitle {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
}

/* Style the accordion content panel. Note: hidden by default */
.accordionContent {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

/* Style the accordion content text */
.accordionText {
  font-weight: 500;
  font-size: 1rem;
  padding: 18px;
}

.accordionText:hover {
  background-color: #a083c4;
}
