.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.docContents {
  padding: 0 10rem;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  // -webkit-overflow-scrolling: auto;

  h1 {
    color: #7851a9;
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 0;
    margin-top: 7rem;
  }

  h2 {
    color: #4f4f4f;
    margin-top: 0;
    font-size: 2rem;
  }

  p {
    color: #4f4f4f;
    margin: 0;
    padding-bottom: 2rem;
    font-size: 1.7rem;
    line-height: 3rem;
  }
}
