.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  // height: 95vh;
}

.docContents {
  padding: 2rem 3rem;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  h1 {
    text-align: center;
  }
}
