.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;

  background-color: rgb(234, 234, 234);
  padding: 3rem 8rem;

  h1 {
    color: white;
  }

  .directoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0.2rem 0;
    }
  }
}
