.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  padding: 3rem 8rem;
  height: 300px;

  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    // border: 1px solid red;
    h4 {
      color: #343434;
      font-size: 20px;
      margin: 0 0 2rem;
    }

    .directoryContainer {
      display: flex;
      flex-direction: column;
      align-items: left;
      padding: 0 7.5rem;

      a {
        // margin: 0.2rem 0;
        color: #343434;
        text-decoration: none;
        font-size: 20px;
      }
      a:hover {
        color: #ffc55e;
      }
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 8rem;
    font-size: 0.8rem;
  }
}
