body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html * {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #606060;
}

html {
  overflow-y: scroll;
}

.bodyContainer {
  margin: 3rem 5rem;
}

.contentFooterContainer {
  display: flex;
  flex-direction: column;
}
