body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html h1,
h2,
h3,
h4,
p,
body,
a {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html {
  overflow-y: scroll;
}

.page-container {
  // padding-bottom: 20rem
}

.contentFooterContainer {
  display: flex;
  flex-direction: column;
  // position: relative;
  // min-height: 100vh;
}

pre {
  counter-reset: line;
}

code {
  counter-increment: line;
}

code::before {
  content: counter(line);
  display: inline-block;
  width: 1.5em; /* Fixed width */
  border-right: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  color: #888;
  -webkit-user-select: none;
}

.syntaxHighlighter {
  margin-top: 0;
  font-size: 1.5rem;
}
