.landingPageIntro {
  width: auto;
  min-height: 800px;
  height: 100vh;

  background: #7851a9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fff,
    #7851a9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fff,
    #7851a9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;
    font-size: 150px;
    text-shadow: 2px 2px 2px white;
    margin: 0;
  }

  p {
    margin-bottom: 2rem;
    line-height: 2.2rem;
    width: 1000px;
    color: #343434;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  button {
    color: white;
    background-color: transparent;

    width: 300px;
    height: 100px;
    border: solid 5px white;
    border-radius: 20px;
    box-shadow: none;
    cursor: pointer;

    font-size: 32px;
    font-weight: 900;

    transition: border 0.5s ease-in-out;

    &:hover {
      color: white;
      background-color: #ffc55e;

      border: transparent;
      transition: color 0.5s ease-in-out;
      transition: background-color 0.5s ease-in-out;
    }

    &:focus {
      outline: 0;
    }
  }
}

.featureContainer {
  min-height: 800px;
  height: 100vh;

  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #343434;

  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 30px;
  }

  .featureSubContainer {
    display: flex;
    width: 250%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5rem;

    color: #343434;
  }
  .featureSubContainer2 {
    display: flex;
    width: 150%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10rem;

    color: #343434;
  }
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
  min-height: 800px;
  height: 100vh;

  .teamContainerTitle {
    font-size: 90px;
  }
}
