.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 5rem;
  border-bottom: 1px black solid;

  // position: fixed;
  // width: 100%;
  h1 {
    margin: 0;
    font-size: 70px;
    -webkit-text-stroke: 2px #663399;
    color: white;
    text-shadow: 2px 2px 2px #663399;

    &:hover {
      color: #663399;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
    }
  }
}

.navMainLogo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.navContainer {
  color: #565656;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  li {
    list-style-type: none;
    // padding: 10px;
    // display: inline-block;
    // padding: 10px 20px;
    // cursor: pointer;
    // background-color: #eee;
    // color: #7b8585;

    // transition: 0.3s;
  }

  div {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
    &:hover {
      text-decoration: underline 5px #7851a9;
      cursor: pointer;
    }
  }

  a {
    color: #565656;
    text-decoration: none;
    &:hover {
      text-decoration: underline 5px #7851a9;
      cursor: pointer;
    }
  }
}

// .navIcon {
//   padding: 10px;
//   &:hover {
//     text-decoration: underline 2px #7851a9;
//     cursor: pointer;
//   }
// }

// .li:hover {
//   background-color: #beecea;
// }
// .li.focused {
//   color: #fff;
//   background-color: #41c7c2;
// }
