.sideBar {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;

  overflow-y: auto;

  border-color: rgba(0, 0, 0, 0.693);
  background-color: rgb(255, 255, 255);

  transition: 0.8s ease;
}
